* {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 200;
}

img {
    float: left;
    height: 100%;
    width: 100%;
}

#name {
    color: #42A2E0;
    font-weight: bold;
}

hr {
    background-color: #42A2E0;
    border: none;
    height: 4px;
}

.title {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 20px;
    font-weight: bold;
}