* {
    font-family: "Merriweather", serif;
    font-style: normal;
    font-size: 1rem;
    font-weight: 200;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    height: 100vh;
}

.header {
    flex: 0 0 auto;
}

.content {
    display: flex;
    gap: 30px;
    padding: 10px;
}

.left,
.right {
    flex: 1;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 50px;
}

img {
    float: left;
    height: 100px;
    width: 85px;
}

#name {
    color: #42A2E0;
    font-weight: bold;
}

hr {
    background-color: #42A2E0;
    border: none;
    height: 4px;
}

.title {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 20px;
    font-weight: bold;
}